<html>

<body>
	<h1 th:text="${user.name}"></h1>
	<h2>Viewing All tasks</h2>
	<table border="1">
		<tr th:each="task, iStat : ${taskList}">
			<td th:text="${iStat.index+1}"></td>
			<td th:text="${task.activityTitle}"></td>
			<td th:text="${task.activityMessage}"></td>
			<td th:text="${task.status}"></td>
			<td>
				<form method="POST" th:action="@{/edit(taskId=${task.id})}">
					<button type="submit" name="edit" value="value">EDIT</button>
				</form>
			</td>
			<td>
				<form method="POST" th:action="@{/delete(taskId=${task.id})}">
					<button type="submit" name="delete" value="value">DELETE</button>
				</form>
			</td>
		</tr>
	</table>
	<h4><a href="addTask">Add task</a></h4>
	<h4><a th:href="@{downloads/excel}">Download all tasks as Excel</a></h4>
	<h4><a th:href="@{downloads/pdf}">Download all tasks as Pdf</a></h4>
	<h5><a href="logout">logout</a></h5>

	</body>

</html>